{
  "presets": ["env", "react"],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
            "preprocessCss": "./loaders/sass-loader.js",
            "generateScopedName": "[name]__[local]___[hash:base64:5]",
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}
